@model AlexaSkillProject.Domain.Word

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Word</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WordName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartOfSpeech)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartOfSpeech)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Definition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Definition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Example)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Example)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
